<!-- app-header-comp.component.html -->
<!-- Top Section: Logo and Time for smaller screens -->
<div class="container mx-auto px-2 py-2 shadow-md sm:hidden">

  <!-- Logo and Title Container -->
  <div class="flex justify-center items-center w-full rounded-2xl space-x-10 bg-[#d9e9ea]">
    <img src="assets/android-chrome-512x512.png" alt="Weather App Logo" class="h-16 w-16">
    <span class="text-gray-800 text-lg font-medium">WeatherApp</span>
    <ion-button fill="clear" color="dark" size="large" >
      <ion-icon src="assets/icons/search-outline.svg"></ion-icon>
    </ion-button>
  </div>
  <div class="absolute right-0 top-0 bottom-0 h-20 w-2/6 cursor-pointer" (click)="openSearch()"></div>
</div>

<div class="container mx-auto px-6 py-2 bg-white shadow-md hidden sm:block">
  <!-- Top Section sm+ screens -->
  <div class="flex flex-row justify-between items-center">
    <!-- Logo Container -->
    <div class="flex items-center mt-3">
      <img src="assets/android-chrome-512x512.png" alt="Weather App Logo" class="w-16 h-16 mr-3 rounded-xl">
      <h2 class="text-xl font-semibold text-gray-800">
        {{ 'header.weatherApp' | translate }}
      </h2>
    </div>


    <!-- Search Container -->
    <div class="flex-grow mx-6 w-auto mb-0 relative">
      <ion-searchbar class="ion-border-radius"
        [(ngModel)]="searchQuery"
        placeholder="{{ 'header.searchForCity' | translate }}"
        (ionInput)="onSearchInput($event)"
        (ionFocus)="onSearchbarFocus()"
        (ionBlur)="onSearchbarBlur()"
        (keydown)="onEnterPress($event)"
        style="--border-radius: 10px;"
      ></ion-searchbar>
      <div *ngIf="(filteredCities | async)?.length" class="autocomplete-list absolute w-full">
        <div *ngFor="let city of filteredCities | async" (click)="onCitySelected(city)">
          {{ city }}
        </div>
      </div>
    </div>

    <!-- Time Container -->
    <div class="flex mt-3">
      <ion-icon src="assets/icons/time-outline.svg" class="text-3xl"></ion-icon>
      <h2 class="text-xl font-semibold text-gray-800">
        {{ currentTime }}
      </h2>
    </div>
  </div>
</div>
