<div *ngIf="showHeader" class="w-full px-2 py-2 shadow-md bg-header border-1 lg:flex text-primary">

  <div class="flex justify-around items-center w-full space-x-12">
    <img src="assets/android-chrome-512x512-removebg.png" alt="Weather App Logo" class="h-16 w-16">
    <span class="text-lg font-medium">{{ 'header.weatherApp' | translate }}</span>
    <ion-button fill="clear" color="dark" size="large" (click)="openSearch()">
      <ion-icon src="assets/icons/search-outline.svg" class="text-primary"></ion-icon>
    </ion-button>
  </div>

  <div class="xl:hidden absolute right-0 top-0 bottom-0 h-20 w-2/6 cursor-pointer" (click)="openSearch()"></div>

</div>



