<!-- app-header-comp.component.html -->
<div class="container mx-auto px-6 py-4 bg-white shadow-md">
  <!-- Top Section: Logo and Time for smaller screens -->
  <div class="flex justify-between items-center sm:hidden">

    <!-- Logo Container -->
    <div class="flex items-center mt-3">
      <img src="assets/android-chrome-512x512.png" alt="Weather App Logo" class="w-16 h-16 mr-3 rounded-xl mb-3">
      <p class="text-gray-800 text-base font-medium">
        {{ 'header.weatherApp' | translate }}
      </p>
    </div>

    <!-- Time Container -->
    <div class="flex items-center mt-3">
      <p class="text-gray-800 text-base font-medium">
        {{ 'time' | translate }}: {{ currentTime }}
      </p>
    </div>
  </div>

  <!-- Search Container for smaller screens -->
  <div class="flex-grow w-full mb-0 sm:hidden">
    <form class="flex">
      <input
        id="searchForm1"
        type="text"
        class="flex-grow px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent"
        placeholder= " {{ 'header.searchForCity' | translate }} "
        [formControl]="searchQuery"
        [matAutocomplete]="auto"
        (keyup.enter)="onEnterPress()"
        #searchInput
        #trigger="matAutocompleteTrigger"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onCitySelected($event)"
      >
        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
          {{ city }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <!-- Top Section sm+ screens -->
  <div class="hidden sm:flex flex-row justify-between items-center">
    <!-- Logo Container -->
    <div class="flex items-center mt-3">
      <img src="assets/android-chrome-512x512.png" alt="Weather App Logo" class="w-16 h-16 mr-3 rounded-xl">
      <h2 class="text-xl font-semibold text-gray-800">
        {{ 'header.weatherApp' | translate }}
      </h2>
    </div>

    <!-- Search Container -->
    <div class="flex-grow mx-6 w-auto mb-0">
      <form class="flex">
        <input
          id="searchForm2"
          type="text"
          class="flex-grow px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent"
          placeholder=" {{ 'header.searchForCity' | translate }} "
          [formControl]="searchQuery"
          [matAutocomplete]="auto"
          (keyup.enter)="onEnterPress()"
          #searchInput
          #trigger="matAutocompleteTrigger"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onCitySelected($event)"
        >
          <mat-option
            *ngFor="let city of filteredCities | async"
            [value]="city"
          >
            {{ city }}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>

    <!-- Time Container -->
    <div class="flex items-center mt-3">
      <h2 class="text-xl font-semibold text-gray-800">
        {{ 'time' | translate }}: {{ currentTime }}
      </h2>
    </div>
  </div>

  <!-- Navigation Bar -->
  <nav class="flex mt-3">
    <div class="flex flex-row w-full">
      <a class="button-standard min-w-[80px] max-w-[140px]" routerLink="/"
        [ngClass]="{
        'bg-neutral-100 text-neutral-500 hover:bg-neutral-300': !isRouteActive('/'),
        'bg-neutral-300 text-black font-semibold': isRouteActive('/')
      }"
      >
        {{ 'weather' | translate }}
      </a>

      <a class="button-standard min-w-[80px] max-w-[140px]" routerLink="/about"
        [ngClass]="{
        'bg-neutral-100 text-neutral-500 hover:bg-neutral-300': !isRouteActive('/about'),
        'bg-neutral-300 text-black font-semibold': isRouteActive('/about')
      }"
      >
        {{ 'about.title' | translate }}
      </a>

      <a class="button-standard min-w-[115px] max-w-[140px]" routerLink="/settings"
        [ngClass]="{
        'bg-neutral-100 text-neutral-500 hover:bg-neutral-300': !isRouteActive('/settings'),
        'bg-neutral-300 text-black font-semibold': isRouteActive('/settings')
      }"
      >
        {{ 'settings.title' | translate }}
      </a>
    </div>
  </nav>
</div>
