<!-- Custom Error Card Component -->
<div *ngIf="errorMessage" class="fixed top-16 left-1/2 transform -translate-x-1/2 z-50 w-11/12 max-w-lg bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4">
  <button (click)="dismissError()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>
  <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mb-2">{{ 'error.title' | translate }}</h2>
  <p class="text-gray-700 dark:text-gray-300">{{ errorMessage }}</p>
</div>
