<!-- Custom Error Card Component -->
<div *ngIf="errorMessage" class="fixed top-32 left-1/2 transform -translate-x-1/2 z-50 w-11/12 max-w-lg">
  <div class="bg-white dark:bg-gray-700 border dark:border-gray-600 shadow-lg dark:shadow-md rounded-lg p-4" [ngClass]="shakeClass">
    <button (click)="dismissError()"
            class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mb-2">{{ 'error.title' | translate }}</h2>
    <p class="text-gray-700 dark:text-gray-300">{{ errorMessage }}</p>
  </div>
</div>
