<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>WeatherApp</name>
  <description>
    A sample Apache Cordova application that uses an Angular frontend.
  </description>
  <author email="walle.o.w@gmail.com" href="https://github.com/knottem">
    Erik Wallenius
  </author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <!-- Android icons -->
    <icon src="res/icons/android/weather-icon-36x36.png" density="ldpi" />
    <icon src="res/icons/android/weather-icon-48x48.png" density="mdpi" />
    <icon src="res/icons/android/weather-icon-72x72.png" density="hdpi" />
    <icon src="res/icons/android/weather-icon-96x96.png" density="xhdpi" />
    <icon src="res/icons/android/weather-icon-144x144.png" density="xxhdpi" />
    <icon src="res/icons/android/weather-icon-192x192.png" density="xxxhdpi" />

    <!-- Android splash screens -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screens/android/splash-icon.png" />
    <preference name="AndroidWindowSplashScreenDuration" value="500" />
    <preference name="AndroidWindowSplashScreenBackground" value="#d8e8e9" />
    <preference name="ShowSplashScreenSpinner" value="false" />

    <!-- Disable Bounce Effect -->
    <preference name="DisallowOverscroll" value="true"/>
  </platform>
</widget>
