<div class="container mx-auto my-3 px-6 py-4 bg-white shadow-xl">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">About</h2>
    <div>
        <p class="text-gray-700 text-lg mb-4">
            This project, a comprehensive weather forecasting application, is being developed as part of my thesis at <a href="https://nackademin.se/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">Nackademin</a>. The application, designed to blend accuracy with user-friendliness, integrates data from multiple trusted sources to deliver real-time weather updates.
        </p>

        <p class="text-gray-700 text-lg mb-4">
            The frontend of the application is built using Angular, known for its robustness and efficiency in creating dynamic web pages, along with Tailwind CSS for its flexible and responsive design capabilities. This combination allows for an intuitive and user-friendly interface that is accessible on a variety of devices and screen sizes.
        </p>

        <p class="text-gray-700 text-lg mb-4">
            On the backend, I'm utilizing Java with Spring Boot. The backend is responsible for fetching and processing weather data from SMHI and YR, two reputable meteorological services. By combining data from these sources, the application ensures a more comprehensive and accurate weather forecast.
        </p>

        <p class="text-gray-700 text-lg mb-4">
            The Weather images used in the application are sourced from <a href="https://nrkno.github.io/yr-weather-symbols/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">Yr Weather Symbols</a>, contributing to the visual appeal and easy interpretation of weather conditions.
        </p>

        <p class="text-gray-700 text-lg mb-4">
            The application is currently in development. If you have any questions or feedback, feel free to contact me through the links below.
        </p>

        <ul class="list-disc pl-5 mt-8 text-lg">
            <li class="my-4 ">
                <a href="https://github.com/knottem/WeatherFrontend" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600 ">WeatherFrontend</a> - Explore the frontend code on GitHub.
            </li>
            <li class="my-4">
                <a href="https://github.com/knottem/WeatherApi" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">WeatherApi (Backend)</a> - Dive into the backend code on GitHub.
            </li>
            <li class="my-4">
                <a href="https://github.com/knottem" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">My Personal GitHub</a> - Check out my other projects and contributions.
            </li>
            <li class="my-4">
                <a href="https://www.linkedin.com/in/erik-wallenius-ab04b0251/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">My LinkedIn</a> - Connect with me
            </li>
        </ul>
    </div>
</div>