<div class="flex flex-col mx-auto my-3 px-6 py-4 shadow-xl">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">
      {{ 'about.title' | translate }}
    </h2>
    <div class="text-gray-700 md:text-lg mb-4">
        <p>
          {{ 'about.content1-part1' | translate }}
          <a href="https://nackademin.se/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">Nackademin</a>
          {{ 'about.content1-part2' | translate }}
        </p>
        <p>{{ 'about.content2' | translate }}</p>
        <p>{{ 'about.content3' | translate }}</p>
        <p>
            {{ 'about.content4-part1' | translate }}
          <a href="https://nrkno.github.io/yr-weather-symbols/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">
            {{ 'about.content4-link' | translate }}
          </a>
          {{ 'about.content4-part2' | translate }}
        </p>
        <p>{{ 'about.translationDisclaimer' | translate }}</p>
        <p>{{ 'about.content5' | translate }}</p>
        <ul class="list-disc pl-5 mt-8">
            <li class="my-4">
                <a href="https://github.com/knottem/WeatherFrontend" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600 ">
                  {{ 'about.frontendLink' | translate }}
                </a>
                - {{ 'about.frontendLinkDescription' | translate }}
            </li>
             <li class="my-4">
                <a href="https://github.com/knottem/WeatherApi" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">
                  {{ 'about.backendLink' | translate }}
                </a>
                - {{ 'about.backendLinkDescription' | translate }}
            </li>
            <li class="my-4">
                <a href="https://github.com/knottem" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">
                  {{ 'about.personalGithub' | translate }}
                </a>
              - {{ 'about.personalGithubDescription' | translate }}
            </li>
            <li class="my-4">
                <a href="https://www.linkedin.com/in/erik-wallenius-ab04b0251/" target="_blank" class="text-blue-600 hover:text-blue-800 visited:text-purple-600">
                  {{ 'about.linkedin' | translate }}
                </a>
              - {{ 'about.linkedinDescription' | translate }}
            </li>
        </ul>
    </div>
</div>
