/* Table default styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border-bottom: 1px solid;
  @apply border-b border-gray-100 dark:border-gray-600
}

table th {
  font-weight: bold;
}

.table-container {
  padding: 5px;
}


/* Mobile-friendly adjustments */
@media screen and (max-width: 768px) {
  /* Reduce padding and font size to make the table more compact */
  th, td {
    font-size: 12px;
  }

  /* Add horizontal scrolling for smaller screens */
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
  }
}
