:host {
    display: block;
    width: 80%;
    min-width: 600px;
    max-width: 1400px;
    margin: 0 auto; 
    font-family: Roboto, sans-serif;
}

/* media queries for mobile */
@media (max-width: 768px) {
    :host {
        width: 100%;
        min-width: 0;
        margin: 0;
    }
}