<div class="weather-card" (click)="toggleWeather()">
    <h2>{{ dayLabel }}'s weather in {{ weather.city.name }}</h2>
    <table class="weather-table">
        <thead>
            <tr>
                <th class="time-column">Time</th>
                <th class="temperature-column">Temperature</th>
                <th class="weather-column">Weather</th>
                <th class="precipitation-column">Precipitation</th>
            </tr>
        </thead>
        <tbody *ngIf="!showWeather">
            <tr>
                <td>{{ currentWeather.timestamp }}</td>
                <td>{{ currentWeather.temperature }}°C</td>
                <td>{{ getWeatherConditionDescription(currentWeather.weatherCode) }}</td>
                <td>{{ currentWeather.precipitation }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="showWeather" [@fadeInStagger]>
            <ng-template ngFor let-hour [ngForOf]="getTimestamps()" let-i="index">
                <tr (click)="toggleDetailRow(i, $event)" *ngIf="!expandedRows[i]">
                    <td>{{ hour.substring(11,16) }}</td>
                    <td>{{ weather.weatherData[hour].temperature }}°C</td>
                    <td>{{ getWeatherConditionDescription(weather.weatherData[hour].weatherCode) }}</td>
                    <td>{{ weather.weatherData[hour].precipitation }}</td>
                </tr>
                <tr *ngIf="expandedRows[i]" class="detail-row" [@fadeInExpand] (click)="toggleDetailRow(i, $event)">
                    <td colspan="4">
                        <div class="detailed-info">
                            <h1>Weather Information for {{ hour.substring(11,16) }}</h1>
                            <div class="detail-item">
                                <strong>Temperature:</strong> {{ weather.weatherData[hour].temperature }}°C
                            </div>
                            <div class="detail-item">
                                <strong>Weather:</strong> {{
                                getWeatherConditionDescription(weather.weatherData[hour].weatherCode) }}
                            </div>
                            <div class="detail-item">
                                <strong>Precipitation:</strong> {{ weather.weatherData[hour].precipitation }}
                                {{weather.information.precipitation.substring(0,5)}}
                            </div>
                            <div class="detail-item">
                                <strong>Wind Speed:</strong> {{ weather.weatherData[hour].windSpeed }}
                                {{weather.information.windSpeed}}
                            </div>
                            <div class="detail-item">
                                <strong>Wind Direction:</strong> {{ weather.weatherData[hour].windDirection }}°
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>