@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-width: 80%;
  --app-min-width: 600px;
  --app-max-width: 1024px;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}

ion-content::-webkit-scrollbar {
  display: none;
}

.text-primary {
  @apply text-gray-800 dark:text-gray-200;
}

.text-secondary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-weatherCard {
  @apply text-gray-800 dark:text-gray-300
}

.bg-header {
  @apply bg-[#d9e9ea] dark:bg-[#303234]
}

.bg-primary {
  @apply bg-white dark:bg-[#2e2f33];
}

.bg-secondary {
  @apply bg-gray-50 dark:bg-[#2e2f33];
}

.bg-card {
  @apply bg-white dark:bg-[#222428]
}

.button-standard {
  @apply my-2 flex-1 px-1 sm:px-4 pb-3.5 pt-4 text-xs uppercase leading-tight mr-2 md:mr-4 rounded-xl text-center;
}

html.dark .dark-filter-white {
  filter: invert(1) brightness(2);
}

.hide-footer {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.content-wrapper {
  width: var(--app-width);
  min-width: var(--app-min-width);
  max-width: var(--app-max-width);
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .content-wrapper {
    width: 100%;
    min-width: 0;
    border-radius: 0;
    margin: 0;
  }
}
