@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --app-width: 80%;
  --app-min-width: 600px;
  --app-max-width: 1400px;
  --ion-toolbar-background: #f6f8fc;
}

.content-wrapper {
  width: var(--app-width);
  min-width: var(--app-min-width);
  max-width: var(--app-max-width);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .content-wrapper {
    width: 100%;
    min-width: 0;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  app-root,
  app-header,
  app-footer,
  router-outlet {
    width: 100%;
    min-width: 0;
    margin: 0;
  }
}

html {
  overflow-y: auto;

}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

.button-standard {
  @apply my-2 flex-1 px-1 sm:px-4 pb-3.5 pt-4 text-xs uppercase leading-tight mr-2 md:mr-4 rounded-xl text-center;
}


