<div class="fixed inset-0 bg-white flex flex-col lg:flex lg:mx-auto lg:w-[80%] lg:shadow text-primary">
  <div class="w-full mx-auto px-2 py-2 shadow-md bg-header">
    <div class="flex h-16 search-wrapper">
      <ion-searchbar
        [(ngModel)]="searchQuery"
        showCancelButton="always"
        placeholder="{{ 'header.searchForCity' | translate }}"
        (ionInput)="onSearchInput($event)"
        (ionCancel)="onCancel()"
        (keydown)="onEnterPress($event)"
        [color]="isDarkMode ? 'dark' : 'light'"
        class="searchbar"
      ></ion-searchbar>
    </div>
  </div>

  <div class="search-results bg-primary" id="search-results">
    <div *ngIf="!searchQuery">
      <div *ngIf="favoriteCities.length === 0 && lastSearched.length === 0" class="empty-state">
        <p class="empty-message">{{ 'search.empty' | translate }}</p>
      </div>

      <div *ngIf="favoriteCities.length !== 0">
        <h2 class="list-title">{{ 'search.favorites' | translate }}</h2>
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="drop-list">
          <div *ngFor="let city of favoriteCities; let i = index">
            <div class="list-item" (click)="onCitySelected(city)" (keydown)="onKeyPressCity($event, city)"  cdkDragLockAxis="y" cdkDrag [cdkDragStartDelay]="100">
              <span>{{ city.name }}</span>
              <ion-icon
                src="assets/icons/star.svg"
                (click)="toggleFavorite(city); $event.stopPropagation()"
                (keydown)="onKeyPressFavorite($event, city)">
              </ion-icon>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="lastSearched.length !== 0">
        <h2 class="list-title">{{ 'search.recently' | translate }}</h2>
        <div *ngFor="let city of lastSearchedCities()" class="list-item" (click)="onCitySelected(city)" (keydown)="onKeyPressCity($event, city)">
          <span>{{ city.name }}</span>
          <ion-icon
            [src]="isFavorite(city) ? 'assets/icons/star.svg' : 'assets/icons/star-outline.svg'"
            (click)="toggleFavorite(city); $event.stopPropagation()"
            (keydown)="onKeyPressFavorite($event, city)">
          </ion-icon>
        </div>
      </div>
    </div>

    <div *ngIf="searchQuery">
      <h2 class="list-title">
        {{ 'search.results' | translate }}
        <span class="limited-info">
          <span class="fixed-width-number">
            {{ totalResults }}
          </span>
          {{ 'search.resultsMessage' | translate }}
          <span *ngIf="isLimited">
            {{ 'search.limitedResultsMessage' | translate }}
          </span>
        </span>
      </h2>
      <div *ngFor="let city of filteredCities | async" class="list-item" (click)="onCitySelected(city)" (keydown)="onKeyPressCity($event, city)">
      <span>
      <!-- Show only Swedish name if it matches -->
      <ng-container *ngIf="city.name.toLowerCase().includes(searchQuery.toLowerCase()); else englishMatch">
        {{ city.name }}
      </ng-container>

        <!-- Show both names if English name matches -->
      <ng-template #englishMatch>
        {{ city.name }} -
        <span *ngIf="city.name" class="city-en">
         {{ city.en }}
        </span>
      </ng-template>
      </span>

        <ion-icon
          [src]="isFavorite(city) ? 'assets/icons/star.svg' : 'assets/icons/star-outline.svg'"
          (click)="toggleFavorite(city); $event.stopPropagation()"
          (keydown)="onKeyPressFavorite($event, city)">
        </ion-icon>
      </div>

      <div *ngIf="isLimited" class="list-item info">
        <span>{{ 'search.limitedResults' | translate }}</span>
      </div>

      <div *ngIf="(filteredCities | async)?.length  === 0 " class="list-item no-search">
        <span>{{ 'search.noResults' | translate }}</span>
      </div>
    </div>
  </div>
</div>
