<!-- settings.component.html -->
<div class="flex flex-col mx-auto mt-3 px-4 py-4 bg-secondary shadow-lg rounded-lg">
  <!-- Title -->
  <h2 class="text-2xl font-semibold text-primary mb-6">{{ 'settings.title' | translate }}</h2>

  <!-- DarkMode Section -->
  <div class="mb-6">
    <div class="bg-card rounded-lg p-4 shadow-sm flex justify-between items-center">
      <span class="text-primary">{{ 'settings.darkMode' | translate }}</span>
      <label class="flex items-center cursor-pointer">
        <input type="checkbox" (change)="toggleDarkMode()" [checked]="isDarkMode" class="sr-only">
        <div class="relative">
          <div class="block bg-gray-300 dark:bg-gray-600 w-10 h-6 rounded-full"></div>
          <div
            class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition transform"
            [class.translate-x-full]="isDarkMode"
          ></div>
        </div>
      </label>
    </div>
  </div>

  <!-- Brightness Section -->
  <div class="mb-6">
    <div class="bg-card rounded-lg p-4 shadow-sm flex justify-between items-center">
      <span class="text-primary">{{ 'settings.brightness' | translate }}</span>
      <div class="flex items-center">
        <input
          type="range"
          min="0"
          max="100"
          [value]="brightnessLevel"
          (input)="onBrightnessChange($event)"
          class="slider w-24 h-1 rounded-full bg-gray-300 dark:bg-gray-600 appearance-none"
          style="outline: none; cursor: pointer;"
        />
      </div>
    </div>
  </div>

  <!-- Language Selection Section -->
  <div class="mb-6">
    <div class="bg-card rounded-lg px-4 py-2 shadow-sm flex justify-between items-center">
     <span class="text-primary w-2/3">{{ 'settings.selectLanguage' | translate }}</span>
      <select
        (change)="switchLanguage($event)"
        class="block bg-gray-100 border border-gray-300 text-gray-800 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-200 px-3 py-2 rounded-lg focus:outline-none"
      >
        <option *ngFor="let lang of languages" [value]="lang.code" [selected]="currentLanguage === lang.code">
          {{ lang.name }}
        </option>
      </select>
    </div>
  </div>

  <!-- Data Sources (APIs) Selection Section -->
  <div class="mb-5">
    <div class="bg-card rounded-lg p-4 shadow-sm">
      <p class="text-lg font-medium text-primary mb-4">{{ 'settings.selectApi' | translate }}</p>
      <p class="text-xs text-secondary mb-4">{{ 'settings.apiNote' | translate }}</p>

      <!-- API Options with Active/Inactive Colors -->
      <div class="space-y-3">
        <label *ngFor="let api of apis" class="flex justify-between items-center cursor-pointer">
          <span class="text-primary">{{ api.name }}</span>
          <input
            type="checkbox"
            [checked]="selectedApis.includes(api.value)"
            (change)="onApiChange(api.value, $event)"
            class="sr-only"
          />
          <div class="relative">
            <!-- Toggle Background: Green for active, Red for inactive -->
            <div
              class="block w-10 h-6 rounded-full transition-colors duration-300"
              [ngClass]="{
              'bg-green-500 dark:bg-green-600': selectedApis.includes(api.value),
              'bg-red-500 dark:bg-red-600': !selectedApis.includes(api.value)
            }"
            ></div>
            <!-- Toggle Dot -->
            <div
              class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition transform"
              [class.translate-x-full]="selectedApis.includes(api.value)"
            ></div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <!-- Footer Note -->
  <p class="text-gray-500 text-xs text-center italic">Version: {{ version }}</p>
</div>

